* {
    margin: 0;
    padding: 0;
   font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #2a1b6b, #5c44a2);
    position: relative;
}

.estrelas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
     radial-gradient(1px 1px at 25% 15%, #fff, transparent),
     radial-gradient(1.5px 1px at 55% 25%, #fff, transparent),
     radial-gradient(2px 1px at 45% 35%, #fff, transparent),
     radial-gradient(1px 1px at 15% 64%, #fff, transparent),
     radial-gradient(1px 1px at 85% 24%, #fff, transparent);
    ;
}

.formulario {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 16px;
    padding: 1.2rem;
}

.formulario h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.caixa-formulario {
    position: relative;
    margin-bottom: 30px;
}

.caixa-formulario input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    font-size: 16px;
    padding: 0 20px;
}

.caixa-formulario input::placeholder {
    color: rgba(255, 255, 255, .6);
}

.caixa-formulario i {
    position: absolute;
    right: 20px;
    font-size: 1.1rem;
    top: 25%;
}

.caixa-lembrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 16px;
}

.caixa-lembrar label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.caixa-lembrar label input {
    accent-color: rgb(127, 12,215);
}

.caixa-lembrar a {
    text-decoration: none;
    color: #fff;
}

.caixa-lembrar a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, .8);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #2a1b6b;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s;
}

button:hover {
    background-color: #fff;
    transform: translateY(-5px);
}

.link-registro {
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.link-registro a {
     text-decoration: none;
     color: #fff;
}

.link-registro a:hover {
    text-decoration: underline;
    color: #2a1b6b;
}

@media (max-width:440px) {
    .formulario{
        width: 280px;
    }
}

@media (max-width:350px) {
    .formulario{
        width: 280px;
    }
}